<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>Pundora's Box</title>

        <link rel="stylesheet" type="text/css" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/main.css" />

        <script type="text/javascript" src="/js/jq.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </head>
    <body>
        <%= yield %>
    </body>
</html>